{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ episode.name }}</h1>
        <p><strong>Data de Lançamento:</strong> {{ episode.air_date }}</p>
        <p><strong>Código:</strong> {{ episode.episode }}</p>
        
        <h2>Personagens neste Episódio</h2>
        <ul>
            {% for character in characters %}
                <li>
                    {{ character.name }} - <a href="/profile/{{ character.id }}">Ver Perfil</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
